@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url(//db.onlinewebfonts.com/c/effe415ccccc9b5e5cc36bed338d8cea?family=BurfordW03-Base);
body {
  font-family: 'Rubik', sans-serif; }

#navBar {
<<<<<<< HEAD
  background: #175a66;
  height: 9rem;
=======
  background: black;
  opacity: 80%;
  height: 8rem;
>>>>>>> este
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3; }
  #navBar figure {
    padding-top: 0.5rem; }
  #navBar ul {
    font-family: "BurfordW03-Base";
<<<<<<< HEAD
    font-size: 3rem;
    color: #f0e8e1;
=======
    font-size: 3.5rem;
>>>>>>> este
    list-style: none;
    padding-right: 2rem; }
    #navBar ul #disabled {
      color: #60b8b9; }
    #navBar ul a {
      color: #f0e8e1; }
      #navBar ul a:hover {
        color: #60b8b9; }

.contenedorLogo {
  display: flex;
  align-items: center; }

#navbarNav {
  background: black;
  opacity: 80%; }

.botonHamburguesa {
  height: 5rem;
  width: 5rem;
  background-color: #f0e8e1; }

/********* VERSIÓN TABLET **********/
@media (min-width: 480px) and (max-width: 991px) {
  #navBar {
    height: 9.5rem; } }

/********* VERSIÓN CELULAR **********/
@media (max-width: 480px) {
  #navBar {
    height: 9.5rem; } }

/********* MENU **********/
<<<<<<< HEAD
.fondoMenu {
  margin-top: 9rem; }
  .fondoMenu .imgCarousel {
    height: 85vh;
    object-fit: cover; }
  .fondoMenu .menu {
    text-align: center;
    font-size: 5.5rem;
=======
.fondoMenu .imgCarousel {
  height: 100vh;
  object-fit: cover; }

.fondoMenu .menu {
  margin-bottom: 20rem; }
  .fondoMenu .menu .contenedorTexto {
    width: 30rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 5rem;
>>>>>>> este
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .fondoMenu .menu .contenedorTexto ul {
      list-style-type: none;
      animation: cambiar 6s infinite;
      text-transform: uppercase; }
      .fondoMenu .menu .contenedorTexto ul:hover {
        color: #175a66; }

@keyframes cambiar {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  25% {
    margin-top: -5rem; }
  50% {
    margin-top: -5rem; }
  55% {
    margin-top: -10rem; }
  80% {
    margin-top: -10rem; }
  85% {
    margin-top: 0; }
  100% {
    margin-top: 0; } }

/********* CONTACTO **********/
.contenedorContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 50rem;
  padding: 1rem 2rem; }
  .contenedorContacto .subtituloContacto {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem; }
  .contenedorContacto .campo {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .contenedorContacto textarea {
    min-height: 10rem;
    max-height: 20rem; }
  .contenedorContacto .botonEnviar {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    transition: all 0.2s;
    text-transform: uppercase;
    border: none; }
    .contenedorContacto .botonEnviar:hover {
      cursor: pointer;
      background-color: #4c4c4b;
      transform: scale(0.98, 0.98); }

/********* UBICACION **********/
<<<<<<< HEAD
.fondoUbicacion h1, .fondoContacto h1 {
  padding-top: 22vh;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase; }

.contenedorMapa {
  display: flex;
  justify-content: center; }

.mapa {
  width: 90%;
  margin-top: 3rem; }

/********* NOSOTROS **********/
.fondoNosotros {
  background-image: url(../img/nosotros4b.jpg);
  width: 100%;
  height: 110vh;
  background-size: cover; }
  .fondoNosotros h1 {
    padding-top: 22vh;
    text-align: center;
    font-size: 4rem;
    color: #f0e8e1;
    text-shadow: 2px 2px black;
    text-transform: uppercase; }
  .fondoNosotros .contenedorDescripcion {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center; }
    .fondoNosotros .contenedorDescripcion h2 {
      font-size: 3rem; }
    .fondoNosotros .contenedorDescripcion p {
      padding-top: 1rem; }

/********* MAIN INDEX **********/
.imgMain {
  width: 100%;
  height: 100vh;
  object-fit: cover; }
=======
.contenedorMapa {
  display: flex;
  justify-content: center; }
  .contenedorMapa .mapa {
    width: 90%;
    margin-top: 5rem; }

/********* MAIN INDEX **********/
.fondoMain {
  height: 100%; }
  .fondoMain .imgMain {
    width: 100%;
    height: 90rem;
    object-fit: cover; }
  .fondoMain .contenedorSobreNosotros {
    background-color: #f0e8e1; }
    .fondoMain .contenedorSobreNosotros .nosotros {
      width: 100%;
      height: 50rem;
      display: flex;
      justify-content: space-between;
      padding-top: 2rem; }
      .fondoMain .contenedorSobreNosotros .nosotros .contenidoNosotros {
        padding: 5rem; }
        .fondoMain .contenedorSobreNosotros .nosotros .contenidoNosotros h2 {
          text-transform: uppercase;
          text-align: center;
          font-size: 3rem;
          font-weight: bold;
          padding-bottom: 2rem;
          border-bottom: black 1px solid; }
        .fondoMain .contenedorSobreNosotros .nosotros .contenidoNosotros p {
          text-align: center; }
      .fondoMain .contenedorSobreNosotros .nosotros .carouselNosotros {
        width: 130rem; }

/********* TIENDA **********/
.contenedorCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedorCards .card {
    margin-left: 2rem;
    margin-bottom: 3rem; }
    .contenedorCards .card .imagenCard {
      transition: all 300ms;
      opacity: 80%; }
      .contenedorCards .card .imagenCard:hover {
        opacity: 1; }
    .contenedorCards .card .tituloCard {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .contenedorCards .card .subtituloCard {
      font-weight: bold;
      font-size: 2rem;
      text-align: center; }
    .contenedorCards .card .card-text {
      font-size: 1.5rem; }
    .contenedorCards .card .botonCarrito {
      background-color: black;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
      border: none; }
      .contenedorCards .card .botonCarrito:hover {
        background-color: #4c4c4b;
        color: black; }
>>>>>>> este

.footerContent {
  display: flex;
  width: 100%;
<<<<<<< HEAD
  height: 8rem;
  background-color: #f0e8e1;
  justify-content: space-between; }
  .footerContent h2 {
    font-size: 2.5rem;
    font-weight: bold; }
  .footerContent p {
    font-size: 2rem; }
  .footerContent div {
    margin-top: 1rem; }
  .footerContent .direccion {
    margin-left: 3rem;
    grid-area: direccion; }
  .footerContent .horarios {
    grid-area: horarios; }
  .footerContent .instagram {
    opacity: 80%;
    margin-right: 8rem;
    grid-area: instagram; }
    .footerContent .instagram:hover {
      opacity: 1; }
=======
  height: 12rem;
  background-color: #175a66;
  justify-content: space-between;
  color: #f0e8e1; }
  .footerContent h3 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase; }
  .footerContent p {
    font-size: 2rem; }
  .footerContent div {
    margin-top: 2rem; }

.direccion {
  margin-left: 3rem;
  grid-area: direccion; }

.horarios {
  margin-left: 2rem;
  grid-area: horarios; }

.email {
  margin-left: 2rem;
  grid-area: email; }

.instagram {
  opacity: 80%;
  margin-right: 3rem;
  grid-area: instagram; }
  .instagram:hover {
    opacity: 1; }
>>>>>>> este

/********* VERSIÓN TABLET **********/
@media (min-width: 480px) and (max-width: 900px) {
  .footerContent {
    height: 50rem;
    display: grid;
    grid-template-areas: "direccion" "horarios" "email" "instagram"; }
    .footerContent .footer {
      padding-left: 3rem; } }

/********* VERSIÓN CELULAR **********/
@media (max-width: 480px) {
  .footerContent {
    height: 40rem;
    display: grid;
<<<<<<< HEAD
    grid-template-areas: "direccion" "horarios" "instagram"; }
    .footerContent .horarios,
    .footerContent .instagram {
=======
    grid-template-areas: "direccion" "horarios" "email" "instagram"; }
    .footerContent .footer {
>>>>>>> este
      padding-left: 3rem; } }

.fondoUbicacion, .fondoContacto, .fondoTienda {
  width: 100%;
<<<<<<< HEAD
  height: 75rem;
  background-color: aliceblue;
  margin: 0; }

.pasteleria, .especialidad {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f0e8e1;
  width: 40vw;
  height: 60vh;
=======
  height: 85rem;
  margin: 0; }

.fondoTienda {
  height: 100%; }

.tituloUbicacion, .tituloTienda, .tituloContacto {
  padding-top: 13rem;
>>>>>>> este
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem; }

/* MAP GET */
.descripcionNosotros {
<<<<<<< HEAD
  font-size: 2rem;
  text-shadow: 1px 1px black; }
=======
  font-size: 2rem; }
>>>>>>> este

/********* VERSIÓN TABLET **********/
@media (min-width: 480px) and (max-width: 900px) {
  /* INDEX */
  .fondoMain {
    height: 100%; }
    .fondoMain .carousel {
      display: none; } }

/********* VERSIÓN CELULAR **********/
@media (max-width: 480px) {
  /* CONTACTO */
  .contenedorContacto {
    width: 100%; }
  .tituloContacto {
    margin-top: 5rem; }
  /* INDEX */
  .fondoMain {
    height: 100%; }
    .fondoMain .carousel {
      display: none; } }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }
