@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url(//db.onlinewebfonts.com/c/effe415ccccc9b5e5cc36bed338d8cea?family=BurfordW03-Base);
body {
  font-family: 'Rubik', sans-serif; }

#navBar {
  background: black;
  opacity: 80%;
  height: 8rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3; }
  #navBar ul {
    font-family: "BurfordW03-Base";
    font-size: 3.5rem;
    list-style: none;
    padding-right: 2rem; }
    #navBar ul #disabled {
      color: #60b8b9; }
    #navBar ul a {
      color: #f0e8e1; }
      #navBar ul a:hover {
        color: #60b8b9; }

.contenedorLogo {
  display: flex;
  align-items: center; }

#navbarNav {
  background: black;
  opacity: 80%; }

.botonHamburguesa {
  height: 5rem;
  width: 5rem;
  background-color: #f0e8e1; }

/********* VERSIÓN TABLET **********/
@media (min-width: 480px) and (max-width: 991px) {
  #navBar {
    height: 9.5rem; } }

/********* VERSIÓN CELULAR **********/
@media (max-width: 480px) {
  #navBar {
    height: 9.5rem; } }

/********* MAIN INDEX **********/
.fondoMain {
  height: 100%; }
  .fondoMain .imgMain {
    width: 100%;
    height: 90rem;
    object-fit: cover; }
  .fondoMain .contenedorSobreNosotros {
    background-color: #f0e8e1;
    display: flex;
    flex-direction: column; }
    .fondoMain .contenedorSobreNosotros .nosotros {
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: row; }
      .fondoMain .contenedorSobreNosotros .nosotros .carouselNosotros {
        width: 100rem;
        display: flex;
        align-items: center; }
      .fondoMain .contenedorSobreNosotros .nosotros .contenidoNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 7rem; }
        .fondoMain .contenedorSobreNosotros .nosotros .contenidoNosotros .tituloNosotros {
          text-transform: uppercase;
          text-align: center;
          font-size: 2.5rem;
          font-weight: bold; }
        .fondoMain .contenedorSobreNosotros .nosotros .contenidoNosotros .descripcionNosotros {
          border-top: black 1px solid;
          text-align: center;
          font-size: 2rem; }

/********* CONTACTO **********/
.contenedorContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 50rem;
  padding: 1rem 2rem; }
  .contenedorContacto .subtituloContacto {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem; }
  .contenedorContacto .campo {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .contenedorContacto textarea {
    min-height: 10rem;
    max-height: 20rem; }
  .contenedorContacto .botonEnviar {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    transition: all 0.2s;
    text-transform: uppercase;
    border: none; }
    .contenedorContacto .botonEnviar:hover {
      cursor: pointer;
      background-color: #4c4c4b;
      transform: scale(0.98, 0.98); }

/********* MENU **********/
.fondoMenu .imgCarousel {
  height: 100vh;
  object-fit: cover; }

.fondoMenu .menu {
  margin-bottom: 20rem; }
  .fondoMenu .menu .contenedorTexto {
    width: 30rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 5rem;
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .fondoMenu .menu .contenedorTexto ul {
      list-style-type: none;
      animation: cambiar 6s infinite;
      text-transform: uppercase; }
      .fondoMenu .menu .contenedorTexto ul:hover {
        color: #175a66; }

@keyframes cambiar {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  25% {
    margin-top: -5rem; }
  50% {
    margin-top: -5rem; }
  55% {
    margin-top: -10rem; }
  80% {
    margin-top: -10rem; }
  85% {
    margin-top: 0; }
  100% {
    margin-top: 0; } }

/********* TIENDA **********/
.contenedorCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedorCards .card {
    margin-left: 2rem;
    margin-bottom: 3rem; }
    .contenedorCards .card .imagenCard {
      transition: all 300ms;
      opacity: 80%; }
      .contenedorCards .card .imagenCard:hover {
        opacity: 1; }
    .contenedorCards .card .tituloCard {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .contenedorCards .card .subtituloCard {
      font-weight: bold;
      font-size: 2rem;
      text-align: center; }
    .contenedorCards .card .card-text {
      font-size: 1.5rem; }
    .contenedorCards .card .botonCarrito {
      background-color: #175a66;
      text-transform: uppercase;
      font-size: 1.5rem;
      border: none;
      transition: all 0.1s; }
      .contenedorCards .card .botonCarrito:hover {
        transform: scale(0.98, 0.98); }

/********* UBICACION **********/
.contenedorMapa {
  display: flex;
  justify-content: center; }
  .contenedorMapa .mapa {
    width: 90%;
    margin-top: 5rem; }

.footerContent {
  width: 100%;
  height: 25rem;
  background-color: #175a66;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem; }
  .footerContent .footerItem {
    padding-bottom: 1.5rem; }
    .footerContent .footerItem .icono {
      padding-right: 1rem; }
    .footerContent .footerItem .email {
      color: black; }
    .footerContent .footerItem .redes {
      opacity: 80%;
      transition: all 0.1s; }
      .footerContent .footerItem .redes:hover {
        opacity: 1;
        transform: scale(1.2, 1.2); }
  .footerContent .derechos {
    padding-top: 2.5rem; }

.fondoUbicacion, .fondoContacto, .fondoTienda {
  width: 100%;
  height: 85rem;
  margin: 0; }

.fondoTienda {
  height: 100%; }

.tituloUbicacion, .tituloTienda, .tituloContacto {
  padding-top: 13rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem; }

/********* VERSIÓN TABLET **********/
@media (min-width: 480px) and (max-width: 900px) {
  /* INDEX */
  #pasteleria {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; }
  #especialidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .carouselNosotros {
    width: 30rem !important; } }

/********* VERSIÓN CELULAR **********/
@media (max-width: 480px) {
  /* INDEX */
  #pasteleria {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; }
  #especialidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .carouselNosotros {
    width: 30rem !important; }
  /* CONTACTO */
  .contenedorContacto {
    width: 100%; }
  .tituloContacto {
    margin-top: 5rem; }
  /* TIENDA */
  .contenedorCards {
    padding-right: 1.5rem; } }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }
