@charset "UTF-8";
@import url(//db.onlinewebfonts.com/c/710f298ac37279ec3ab18f0e5cd94f55?family=Novecento+DemiBold);
@import url(//db.onlinewebfonts.com/c/effe415ccccc9b5e5cc36bed338d8cea?family=BurfordW03-Base);
body {
  font-family: "Novecento DemiBold"; }

#navBar {
  background: #175a66;
  height: 10rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3; }
  #navBar ul {
    font-family: "BurfordW03-Base";
    font-size: 3rem;
    color: #f0e8e1;
    list-style: none;
    padding-right: 2rem; }

#navbarNav {
  background-color: #175a66; }

.botonHamburguesa {
  height: 5rem;
  width: 5rem; }

/********* VERSIÓN TABLET **********/
@media (min-width: 480px) and (max-width: 760px) {
  #navBar {
    height: 11rem; } }

/********* VERSIÓN CELULAR **********/
@media (max-width: 480px) {
  #navBar {
    height: 11rem; } }

/********* MENU **********/
.fondoMenu {
  margin-top: 10rem; }
  .fondoMenu .imgCarousel {
    height: 85vh;
    object-fit: cover; }
  .fondoMenu .menu {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 20rem;
    transition: all 0.2s; }
    .fondoMenu .menu:hover {
      color: #175a66;
      cursor: pointer;
      transform: scale(0.98, 0.98); }

/********* CONTACTO **********/
.fondoContacto h1 {
  padding-top: 13rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center; }

form {
  margin: auto;
  width: 50rem; }

.campo {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.5rem; }

textarea {
  min-height: 10rem;
  max-height: 20rem; }

.botonEnviar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  transition: all 0.2s; }
  .botonEnviar:hover {
    cursor: pointer;
    background-color: #4c4c4b;
    transform: scale(0.98, 0.98); }

/********* UBICACION **********/
.fondoUbicacion h1, .fondoContacto h1 {
  padding-top: 20vh;
  text-align: center; }

.contenedorMapa {
  display: flex;
  justify-content: center; }

.mapa {
  width: 90%;
  margin-top: 3rem; }

/********* NOSOTROS **********/
.fondoNosotros {
  background-image: url(../img/nosotros4b.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover; }
  .fondoNosotros h1 {
    padding-top: 20vh;
    text-align: center;
    font-size: 3rem;
    color: #f0e8e1;
    text-shadow: 2px 2px black; }
  .fondoNosotros .contenedorDescripcion {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem; }

.footerContent {
  display: flex;
  width: 100%;
  height: 9rem;
  background-color: #f0e8e1;
  justify-content: space-between; }
  .footerContent h2 {
    font-size: 2rem; }
  .footerContent p {
    font-size: 1.5rem; }
  .footerContent div {
    margin-top: 2rem; }

.direccion {
  margin-left: 3rem;
  grid-area: direccion; }

.horarios {
  grid-area: horarios; }

.instagram {
  opacity: 80%;
  margin-right: 8rem;
  grid-area: instagram; }
  .instagram:hover {
    opacity: 1; }

/********* VERSIÓN TABLET **********/
@media (min-width: 480px) and (max-width: 760px) {
  .footerContent {
    height: 30rem;
    display: grid;
    grid-template-areas: "direccion" "horarios" "instagram"; }
    .footerContent .horarios {
      padding-left: 3rem; }
    .footerContent .instagram {
      padding-left: 3rem; } }

/********* VERSIÓN CELULAR **********/
@media (max-width: 480px) {
  .footerContent {
    height: 30rem;
    display: grid;
    grid-template-areas: "direccion" "horarios" "instagram"; }
    .footerContent .horarios, .footerContent .instagram {
      padding-left: 3rem; } }

/********* VERSIÓN TABLET **********/
@media (min-width: 480px) and (max-width: 760px) {
  /* MAIN INDEX */
  .imgMain {
    padding-top: 7rem; }
  /* MENU */ }

/********* VERSIÓN CELULAR **********/
@media (max-width: 480px) {
  /* MAIN INDEX */
  .imgMain {
    padding-top: 7rem; }
  /* CONTACTO */
  .fondoContacto {
    width: 100%; }
  .fondoContacto .campo {
    width: 80%; }
  .fondoContacto h2 {
    font-size: 2rem;
    padding-right: 5rem; } }

/* EXTEND */
.fondoUbicacion, .fondoContacto {
  width: 100%;
  height: 70rem;
  background-color: aliceblue; }

.fondoContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

/* MIXIN */
.tituloNosotros {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px black;
  text-align: center; }

.pasteleria {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f0e8e1;
  width: 50vw;
  height: 50vh;
  padding: 8rem;
  margin-left: 5rem;
  margin-right: 5rem; }

.especialidad {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f0e8e1;
  width: 50vw;
  height: 50vh;
  padding: 8rem;
  margin-left: 5rem;
  margin-right: 5rem; }

/* MAP GET */
.descripcionNosotros {
  font-size: 1.5rem;
  text-shadow: 2px 2px black; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }
