@import url(//db.onlinewebfonts.com/c/effe415ccccc9b5e5cc36bed338d8cea?family=BurfordW03-Base);

@import url(//db.onlinewebfonts.com/c/710f298ac37279ec3ab18f0e5cd94f55?family=Novecento+DemiBold);

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f0e8e1;
}

body {
  font-family: "Novecento DemiBold";
}

/********* HEADER *********/

#navBar {
  background: #175a66;
  height: 10rem;
  width: 100%;
  position: fixed;
  top: 0;
}

#navBar ul {
  font-family: "BurfordW03-Base";
  font-size: 3rem;
  color: #f0e8e1;
  list-style: none;
  padding-right: 2rem;
}

#navbarNav {
  background-color: #175a66;
}

.botonHamburguesa {
  height: 5rem;
  width: 5rem;
}

/********* FOOTER ************/

.footerContent {
  display: flex;
  width: 100%;
  height: 9rem;
  background-color: #f0e8e1;
  justify-content: space-between;
}

.footerContent h2 {
  font-size: 1.5rem;
}

.footerContent p {
  font-size: 1rem;
}

.footerContent div {
  margin-top: 2rem;
}

.direccion {
  margin-left: 3rem;
  grid-area: direccion;
}

.horarios {
  grid-area: horarios;
}

.instagram {
  opacity: 80%;
  margin-right: 8rem;
  grid-area: instagram;
}

.instagram:hover {
  opacity: 1;
}

/********* MENU **********/

.fondoMenu {
  width: 100%;
  height: 100vh;
}

/* .fondoMenu {
  padding: 10rem 50rem 20rem 50rem;
  background-image: url(../img/mesa3.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 80%;
  position: relative;
}

.pMenu {
  font-size: 2rem;
}

.menu {
  border: black 3px solid;
  border-radius: 3rem;
  padding: 1rem;
  color: black;
  font-size: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.contenedorMenu {
margin-left: 50%;
margin-right: 50%;
}

.contenedorPMenu {
  margin-left: 50%;
  margin-right: 50%;
  } */

/********* CONTACTO **********/

.fondoContacto {
  width: 100%;
  height: 70rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fondoContacto h2 {
  padding-top: 13rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

form {
  margin: auto;
  width: 50rem;
}

.campo {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}

textarea {
  min-height: 10rem;
  max-height: 20rem;
}

.botonEnviar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.botonEnviar:hover {
  cursor: pointer;
  background-color: #4c4c4b;
  transform: scale(0.98, 0.98);
}

/********* UBICACION **********/

.fondoUbicacion {
  width: 100%;
  height: 70rem;
  background-color: aliceblue;
}

.contenedorMapa {
  display: flex;
  justify-content: center;
}

.mapa {
  width: 90%;
  margin-top: 17rem;
}

/********* NOSOTROS **********/

.fondoNosotros {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/nosotros.jpeg);
  background-position: center;
  background-size: cover;
}

.pasteleria {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10rem 10rem 10rem 10rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 10rem 5rem 5rem 5rem;
  color: black;
  grid-area: pasteleria;
}

.fondoNosotros h2 {
  margin-bottom: 3rem;
}

.especialidad {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10rem 10rem 10rem 10rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 10rem 5rem 5rem 5rem;
  color: black;
  grid-area: especialidad;
}

/********* VERSIÓN CELULAR **********/

@media (max-width: 480px) {
  /* HEADER */

  #navBar {
    height: 11rem;
  }

  /* MAIN INDEX */

  .imgMain {
    padding-top: 7rem;
  }

  /* FOOTER */

  .footerContent {
    height: 23rem;
    display: grid;
    grid-template-areas:
      "direccion"
      "horarios"
      "instagram";
  }

  .footerContent .horarios {
    padding-left: 3rem;
  }

  .footerContent .instagram {
    padding-left: 3rem;
  }

  /* CONTACTO */

  /* .fondoContacto {
    width: 100%;
  } */

  .fondoContacto .campo {
    width: 80%;
    margin-left: 2rem;
  }

  .botonEnviar {
    margin-left: 2rem;
  }

  .fondoContacto h2 {
    font-size: 2rem;
    padding-right: 5rem;
  }

  /* NOSOTROS */

  .fondoNosotros {
    height: 120rem;
    display: grid;
    grid-template-areas:
      "pasteleria"
      "especialidad";
  }

  .pasteleria {
    margin-bottom: 7rem;
  }
}

/********* VERSIÓN TABLET **********/

@media (min-width: 480px) and (max-width: 720px) {

  /* HEADER */

  #navBar {
    height: 11rem;
  }

  /* MAIN INDEX */

  .imgMain {
    padding-top: 7rem;
  }

  /* FOOTER */

  .footerContent {
    height: 23rem;
    display: grid;
    grid-template-areas:
      "direccion"
      "horarios"
      "instagram";
  }

  .footerContent .horarios {
    padding-left: 3rem;
  }

  .footerContent .instagram {
    padding-left: 3rem;
  }
}
