.fondoUbicacion {
    width: 100%;
    height: 85rem;
    margin: 0;
}

.fondoContacto {
    @extend .fondoUbicacion;
}

.fondoTienda {
    @extend .fondoUbicacion;
    height: 100%;
}

.tituloUbicacion {
    padding-top: 13rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem
}

.tituloTienda {
    @extend .tituloUbicacion;
}

.tituloContacto {
    @extend .tituloUbicacion;
}



