/* EXTEND */

.fondoUbicacion {
    width: 100%;
    height: 75rem;
    background-color: $colorFondo;
    margin: 0;
}

.fondoContacto {
    @extend .fondoUbicacion
}


.pasteleria {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f0e8e1;
    width: 40vw;
    height: 60vh;
    text-align: center;
    padding: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.especialidad {
    @extend .pasteleria
}

