.fondoUbicacion {
    width: 100%;
<<<<<<< HEAD
    height: 75rem;
    background-color: $colorFondo;
=======
    height: 85rem;
>>>>>>> este
    margin: 0;
}

.fondoContacto {
    @extend .fondoUbicacion;
}

.fondoTienda {
    @extend .fondoUbicacion;
    height: 100%;
}

<<<<<<< HEAD
.pasteleria {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f0e8e1;
    width: 40vw;
    height: 60vh;
=======
.tituloUbicacion {
    padding-top: 13rem;
>>>>>>> este
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem
}

.tituloTienda {
    @extend .tituloUbicacion;
}

.tituloContacto {
    @extend .tituloUbicacion;
}



