.footerContent {
    display: flex;
    width: 100%;
    height: 12rem;
    background-color: #175a66;
    justify-content: space-between;
    color: #f0e8e1;
  
    h3 {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    p {
      font-size: 2rem;
    }
  
    div {
      margin-top: 2rem;
    }
  }
  
  .direccion {
    margin-left: 3rem;
    grid-area: direccion;
  }
  
  .horarios {
    grid-area: horarios;
  }

  .email {
    grid-area: email;
  }
  
  .instagram {
    opacity: 80%;
    margin-right: 8rem;
    grid-area: instagram;
  
    &:hover {
      opacity: 1;
    }
  }

/********* VERSIÓN TABLET **********/

@media (min-width: 480px) and (max-width: 900px) {

  .footerContent {
    height: 50rem;
    display: grid;
    grid-template-areas: "direccion" "horarios" "email" "instagram";
  
  .footer {
    padding-left: 3rem;
    }
  }
}


/********* VERSIÓN CELULAR **********/

@media (max-width: 480px) {
  .footerContent {
    height: 40rem;
    display: grid;
    grid-template-areas: "direccion" "horarios" "email" "instagram";

  .footer {
    padding-left: 3rem;
    }
  }
}