.footerContent {
    display: flex;
    width: 100%;
    height: 9rem;
    background-color: #f0e8e1;
    justify-content: space-between;
  
    h2 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1.5rem;
    }
  
    div {
      margin-top: 2rem;
    }
  }
  
  .direccion {
    margin-left: 3rem;
    grid-area: direccion;
  }
  
  .horarios {
    grid-area: horarios;
  }
  
  .instagram {
    opacity: 80%;
    margin-right: 8rem;
    grid-area: instagram;
  
    &:hover {
      opacity: 1;
    }
  }

/********* VERSIÓN TABLET **********/

@media (min-width: 480px) and (max-width: 760px) {

  .footerContent {
    height: 30rem;
    display: grid;
    grid-template-areas: "direccion" "horarios" "instagram";
  
  .horarios {
    padding-left: 3rem;
    }
  .instagram {
    padding-left: 3rem;
    }
  }
}


/********* VERSIÓN CELULAR **********/

@media (max-width: 480px) {
  .footerContent {
    height: 30rem;
    display: grid;
    grid-template-areas: "direccion" "horarios" "instagram";

  .horarios, .instagram {
    padding-left: 3rem;
    }
  }
}