.footerContent {
  width: 100%;
  height: 25rem;
  background-color: #175a66;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;

  .footerItem {
    padding-bottom: 1.5rem;

    .icono {
      padding-right: 1rem;
    }

    .email {
      color: black;
    }

    .redes {
      opacity: 80%;
      transition: all 0.1s;

      &:hover {
        opacity: 1;
        transform: scale(1.2, 1.2);
      }
    }
  }

  .derechos {
    padding-top: 2.5rem;
  }
}