.footerContent {
<<<<<<< HEAD
  display: flex;
  width: 100%;
  height: 8rem;
  background-color: #f0e8e1;
  justify-content: space-between;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
=======
    display: flex;
    width: 100%;
    height: 12rem;
    background-color: #175a66;
    justify-content: space-between;
    color: #f0e8e1;
  
    h3 {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    p {
      font-size: 2rem;
    }
  
    div {
      margin-top: 2rem;
    }
>>>>>>> este
  }

  p {
    font-size: 2rem;
  }

  div {
    margin-top: 1rem;
  }

  .direccion {
    margin-left: 3rem;
    grid-area: direccion;
  }

  .horarios {
    margin-left: 2rem;
    grid-area: horarios;
  }

<<<<<<< HEAD
=======
  .email {
    margin-left: 2rem;
    grid-area: email;
  }
  
>>>>>>> este
  .instagram {
    opacity: 80%;
    margin-right: 3rem;
    grid-area: instagram;

    &:hover {
      opacity: 1;
    }
  }
}

/********* VERSIÓN TABLET **********/

<<<<<<< HEAD
@media (min-width: 480px) and (max-width: 760px) {
=======
@media (min-width: 480px) and (max-width: 900px) {

>>>>>>> este
  .footerContent {
    height: 50rem;
    display: grid;
<<<<<<< HEAD
    grid-template-areas: "direccion" "horarios" "instagram";

    .horarios {
      padding-left: 3rem;
    }
    .instagram {
      padding-left: 3rem;
=======
    grid-template-areas: "direccion" "horarios" "email" "instagram";
  
  .footer {
    padding-left: 3rem;
>>>>>>> este
    }
  }
}

/********* VERSIÓN CELULAR **********/

@media (max-width: 480px) {
  .footerContent {
    height: 40rem;
    display: grid;
    grid-template-areas: "direccion" "horarios" "email" "instagram";

<<<<<<< HEAD
    .horarios,
    .instagram {
      padding-left: 3rem;
=======
  .footer {
    padding-left: 3rem;
>>>>>>> este
    }
  }
}
