#navBar {
  background: black;
  opacity: 80%;
  height: 8rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;

  ul {
    font-family: $tipografiaNav;
    font-size: 3.5rem;
    list-style: none;
    padding-right: 2rem;

    #disabled {
      color: #60b8b9;
    }

    a {
      color: #f0e8e1;

      &:hover {
        color: #60b8b9;
      }
    }
  }
}

.contenedorLogo {
  display: flex;
  align-items: center;
}

#navbarNav {
  background: black;
  opacity: 80%;
}

.botonHamburguesa {
  height: 5rem;
  width: 5rem;
  background-color: #f0e8e1;
}

/********* VERSIÓN TABLET **********/

@media (min-width: 480px) and (max-width: 991px) {
  #navBar {
    height: 9.5rem;
  }
}

/********* VERSIÓN CELULAR **********/

@media (max-width: 480px) {
  #navBar {
    height: 9.5rem;
  }
}
