/********* MENU **********/

.fondoMenu {
  margin-top: 10rem;

  .imgCarousel {
    height: 85vh;
    object-fit: cover;
  }

  .menu {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 20rem;
    transition: all 0.2s;

    &:hover {
      color: #175a66;
      cursor: pointer;
      transform: scale(0.98, 0.98);
    }
  }
}

/********* CONTACTO **********/

.fondoContacto {

  h1 {
    padding-top: 13rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
  }
}

form {
  margin: auto;
  width: 50rem;
}

.campo {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}

textarea {
  min-height: 10rem;
  max-height: 20rem;
}

.botonEnviar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    background-color: #4c4c4b;
    transform: scale(0.98, 0.98);
  }
}

/********* UBICACION **********/

.fondoUbicacion {
  h1 {
    padding-top: 20vh;
    text-align: center;
  }
}

.contenedorMapa {
  display: flex;
  justify-content: center;
}

.mapa {
  width: 90%;
  margin-top: 3rem;
}

/********* NOSOTROS **********/

.fondoNosotros {
  background-image: url(../img/nosotros4b.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;

  h1 {
    padding-top: 20vh;
    text-align: center;
    font-size: 3rem;
    color: #f0e8e1;
    text-shadow: 2px 2px black;
  }

  .contenedorDescripcion {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
  }
}
