/********* MAIN INDEX **********/

.fondoMain {
  height: 100%;

  .imgMain {
    width: 100%;
    height: 90rem;
    object-fit: cover;
  }

  .contenedorSobreNosotros {
    background-color: #f0e8e1;
    display: flex;
    flex-direction: column;

    .nosotros {
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: row;

      .carouselNosotros {
        width: 100rem;
        display: flex;
        align-items: center;
      }

      .contenidoNosotros {
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 7rem;

        .tituloNosotros {
          text-transform: uppercase;
          text-align: center;
          font-size: 2.5rem;
          font-weight: bold;
        }

        .descripcionNosotros {
          border-top: black 1px solid;
          text-align: center;
          font-size: 2rem;
        }
      }
    }
  }
}

/********* CONTACTO **********/

.contenedorContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 50rem;
  padding: 1rem 2rem;

  .subtituloContacto {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .campo {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  textarea {
    min-height: 10rem;
    max-height: 20rem;
  }

  .botonEnviar {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    transition: all 0.2s;
    text-transform: uppercase;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: #4c4c4b;
      transform: scale(0.98, 0.98);
    }
  }
}

/********* MENU **********/

.fondoMenu {
  .imgCarousel {
    height: 100vh;
    object-fit: cover;
  }

  .menu {
    margin-bottom: 20rem;

    .contenedorTexto {
      width: 30rem;
      height: 5rem;
      line-height: 5rem;
      font-size: 5rem;
      font-weight: bold;
      overflow: hidden;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      ul {
        list-style-type: none;
        animation: cambiar 6s infinite;
        text-transform: uppercase;

        &:hover {
          color: #175a66;
        }

        @keyframes cambiar {

          0% {margin-top: 0;}
          20% {margin-top: 0;}
          25% {margin-top: -5rem;}
          50% {margin-top: -5rem;}
          55% {margin-top: -10rem;}
          80% {margin-top: -10rem;}
          85% {margin-top: 0;}
          100% {margin-top: 0;}
        }
      }
    }
  }
}

/********* TIENDA **********/

.contenedorCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    margin-left: 2rem;
    margin-bottom: 3rem;

    .imagenCard {
      transition: all 300ms;
      opacity: 80%;
  
      &:hover {
        opacity: 1;
      }
    }

    .tituloCard {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  
    .subtituloCard {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
    }
  
    .card-text {
      font-size: 1.5rem;
    }

    .botonCarrito {
      background-color: #175a66;
      text-transform: uppercase;
      font-size: 1.5rem;
      border: none;
      transition: all 0.1s;      

      &:hover {
        transform: scale(0.98, 0.98);
      }
    }
  }
}

/********* UBICACION **********/

.contenedorMapa {
  display: flex;
  justify-content: center;
  
  .mapa {
   width: 90%;
   margin-top: 5rem;
  }
}