/********* VERSIÓN TABLET **********/

@media (min-width: 480px) and (max-width: 900px) {
  /* MAIN INDEX */

  .imgMain {
    padding-top: 7rem;
  }

  /* NOSOTROS */

  .fondoNosotros {
    height: 120vh;
    background-image: url(../img/nosotros4.jpg);
  
    h1 {
      padding-top: 15vh;
     }
   }
  
   .contenedorDescripcion {
    flex-wrap: wrap;
    
    .pasteleria {
      width: 90%;
      height: 30rem;
    }
  
    .especialidad {
      width: 90%;
      height: 30rem;
      margin-top: 5rem;
    }
   }
}

/********* VERSIÓN CELULAR **********/

@media (max-width: 480px) {
  /* MAIN INDEX */

  .imgMain {
    padding-top: 7rem;
  }

  /* CONTACTO */

  .contenedorContacto {
    width: 100%
  }

  /* NOSOTROS */

 .fondoNosotros {
  height: 150vh;
  background-image: url(../img/nosotros4.jpg);

  h1 {
    padding-top: 15vh;
   }
 }

 .contenedorDescripcion {
  flex-wrap: wrap;
  
  .pasteleria {
    width: 90%;
    height: 40rem;
  }

  .especialidad {
    width: 90%;
    height: 40rem;
    margin-top: 5rem;
  }
 }
}
