/********* VERSIÓN TABLET **********/
  
@media (min-width: 480px) and (max-width: 760px) {
  
    /* MAIN INDEX */
  
    .imgMain {
      padding-top: 7rem;
    }
  
    /* MENU */
  
  //   .imgCarousel {
  //     height: 120vh;
  //   }
  }
  
  /********* VERSIÓN CELULAR **********/
  
  @media (max-width: 480px) {
  
    /* MAIN INDEX */
  
    .imgMain {
      padding-top: 7rem;
    }
  
    /* CONTACTO */
  
    .fondoContacto {
      width: 100%;
    }
  
    .fondoContacto .campo {
      width: 80%;
      // margin-left: 2rem;
    }
  
  //   .botonEnviar {
  //     margin-left: 2rem;
  //   }
  
    .fondoContacto h2 {
      font-size: 2rem;
      padding-right: 5rem;
    }
  
  }