/********* VERSIÓN TABLET **********/

@media (min-width: 480px) and (max-width: 900px) {
 
  /* INDEX */

  #pasteleria {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #especialidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carouselNosotros {
    width: 30rem !important;

  }
}

/********* VERSIÓN CELULAR **********/

@media (max-width: 480px) {

  /* INDEX */

  #pasteleria {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #especialidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carouselNosotros {
    width: 30rem !important;
  }

  /* CONTACTO */

  .contenedorContacto {
    width: 100%
  }

  .tituloContacto {
    margin-top: 5rem;
  }
  
  /* TIENDA */

  .contenedorCards {
    padding-right: 1.5rem;
  }  
}
