/********* VERSIÓN TABLET **********/

@media (min-width: 480px) and (max-width: 900px) {

  /* INDEX */

  .fondoMain {
    height: 100%;

    .carousel {
      display: none;
    }
  }
}

/********* VERSIÓN CELULAR **********/

@media (max-width: 480px) {

  /* CONTACTO */

  .contenedorContacto {
    width: 100%
  }

  .tituloContacto {
    margin-top: 5rem;
  }

  /* INDEX */

  .fondoMain {
    height: 100%;

    .carousel {
      display: none;
    }
  }
  
  /* TIENDA */

  .contenedorCards {
    padding-right: 1.5rem;
  }  
}
