/* MIXIN */

@mixin titulo {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px black;
    text-align: center;
}

.tituloNosotros {
    @include titulo;
}

@mixin contenedorPasEsp {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f0e8e1;
    width: 50vw;
    height: 50vh;
    margin-left: 5rem;
    margin-right: 5rem;    
    padding-bottom: 10rem;
    padding-top: 3rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.pasteleria {
    @include contenedorPasEsp;
}

.especialidad {
    @include contenedorPasEsp;
}