@import url(//db.onlinewebfonts.com/c/710f298ac37279ec3ab18f0e5cd94f55?family=Novecento+DemiBold);

body {
  font-family: "Novecento DemiBold";
}

@import "variables";
@import "header";
@import "main";
@import "footer";
@import "mediasquery";
@import "extend";
@import "mixin";
@import "mapget";

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}