@import url(//db.onlinewebfonts.com/c/d99084331b93ea456d1d0f9ce08b7777?family=NovecentoSansW01-Book);

body {
  font-family: "NovecentoSansW01-Book";
}

@import "variables";
@import "header";
@import "main";
@import "footer";
@import "mediasquery";
@import "extend";
@import "mixin";
@import "mapget";

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}