@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

@import "variables";
@import "header";
@import "main";
@import "footer";
@import "extend";
@import "mediasquery";

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}